body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(135deg, #3b82f6 0%, #ffffff 70%);
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 900px;
    height: 80%;

    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 22px;
    margin-bottom: 40px;
    color: #1e3a8a;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #0f172a;
    padding: 5px 10px;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
}

nav a:hover {
    background: #f97316;
    color: white;
}
