body {
    margin: 0;
    padding: 20px;
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(135deg, #3b82f6 0%, #ffffff 70%);
    min-height: 100vh;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

nav {
    display: flex;
    gap: 20px;

    background: rgba(255, 255, 255, 0.7);
    padding: 15px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #0f172a;
    padding: 5px 10px;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    font-weight: bold;
}

nav a:hover {
    background: #f97316;
    color: white;
}

#solicitacaoForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    width: 90%;
    max-width: 900px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;

    background: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
    color: #1e3a8a;
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    align-items: center;
}

.checkbox-item {
    background: #f8fafc;
    border: 1px solid #cbd5e1;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.2s;
    width: 700px;
}

.checkbox-item:hover {
    background: #e0e7ff;
    border-color: #3b82f6;
}

.checkbox-item input {
    width: auto;
    margin: 0;
    transform: scale(1.2);
}

.checkbox-item label {
    cursor: pointer;
    width: 100%;
    color: #334155;
}

#btnSalvar {
    grid-column: 1 / -1;
    padding: 12px;
    background-color: #f97316;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-family: inherit;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

#btnSalvar:hover {
    background-color: #ea580c;
}